@page
@model AuctionModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LIForCars</title>
    <link href="~/css/main.css" rel="stylesheet" />
    <link href="~/css/auction.css" rel="stylesheet" />
    <script src="~/js/auction.js"></script>
</head>
<body>
    <div class="hero">
        @await Html.PartialAsync("Shared/Header")

        <div class="container">
            <div class="column">
                <h2>Details</h2>
                <p>Make: @Model.Auction?.Car?.Make</p>
                <p>Model: @Model.Auction?.Car?.Model</p>
                <p>Year: @Model.Auction?.Car?.LaunchYear</p>
                <p>Mileage: @Model.Auction?.Car?.Kms</p>
                <p>Category: @Model.Auction?.Car?.Category</p>
                <p>Origin: @Model.Auction?.Car?.Origin</p>
                <p>Motor: @Model.Auction?.Car?.Motor</p>
                <p>Fuel Type: @Model.Auction?.Car?.FuelType</p>
                <p>Plate: @Model.Auction?.Car?.Plate</p>
                <p>Status: @Model.Auction?.Car?.StatusDescription</p>
            </div>
        </div>

        <div class="containerImg">
            <img src="../images/BMW_M4.jpg" alt="About me" width="650" height="400" style="border: 1px solid black;" class="image1">
        </div>

        <div class="highestbid">
            <h2>@Model.Auction?.Car?.Make @Model.Auction?.Car?.Model</h2>
            <p>Current Bid: 50.000€</p>
            <p>Ends: @Model.Auction?.EndDateTime</p>
            @{
            // Get the current DateTime
            DateTime now = DateTime.Now;

            // Calculate the time difference
            TimeSpan timeDifference = @Model.futureDateTime - now;

            // Access individual components of the time difference
            int daysDifference = timeDifference.Days;
            int hoursDifference = timeDifference.Hours;
            int minutesDifference = timeDifference.Minutes;
            int secondsDifference = timeDifference.Seconds;

            <p>Time Left: @daysDifference days:@hoursDifference hours:@minutesDifference minutes:@secondsDifference seconds</p>
            }
            <p>Buy Now Price: @Model.Auction?.BuyNowPrice</p>
            <button href="#" data-target="bid" class="bidbutton" data-target="bid">Place your Bid</button>
            <button href="#" data-target="buy" class="buybutton" data-target="buy">Buy Now</button>
        </div>

        <div id="bid-page" style="display: none;">
            <div class="modal-backdrop">
                <div class="modal-content">
                    <div class="modal-header">
                        <span class="close-btn" onclick="closeBidPage()">&times;</span>
                        <h2>Place bid</h2>
                    </div>
                    <p>(Your bid must be at least @Model.Auction?.MinIncrement above the current highest bid)</p>
                    <form id="bidForm" method="post" action="api/Bid/Update">
                        <input type="text" id="bid" name="bid" placeholder="Your Bid" required/>
                        <div class="modal-footer">
                            <button type="submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div id="buy-page" style="display: none;">
            <div class="modal-backdrop">
                <div class="modal-content">
                    <div class="modal-header">
                        <span class="close-btn" onclick="closeBuyPage()">&times;</span>
                        <h2>Buy Now</h2>
                    </div>
                    <form id="buyForm" method="post" action="api/Bid/Update">
                        <div class="modal-footer">
                            <button type="submit">Buy</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    @await Html.PartialAsync("Shared/Footer")
</body>
</html>